@import "./utilities/extends";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./utilities/extends";
@import "./layout/header";
@import "./layout/mian";
@import "./layout/footer";
@import"./layout/formulario";
@import "./mq/mq";
@import "./reset/reset";


/*carrusel*/

#carouselExample .carousel-item img {
  width: auto;            
  max-height: 350px;    
  margin: 0 auto;         
  object-fit: contain;    
}





/* BODY Y FONDO GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/LDA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $blanco;
}


/* TEXTOS GENERALES */
h1 {
  color:$rojo;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
  margin: 2rem 0 1rem;
  font-weight: bold !important
}

.titulos-h2{
    color:$rojo;
}

li{
   color:$blanco;

}



p {
  color: $blanco;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}


/* titulos */
.titulos {
 @extend %titulos
}

.parrafo-servicios {
  font-style: italic;
  font-size: 1.5em;

}


/* BOTÓN */
button {
  padding: 0.75rem 1.5rem;
  background-color: $rojo;
  color: $blanco;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: $rojo;
}




/* Hover effect para las cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Ajuste de la imagen dentro de la card */
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 180px; /* ajusta el alto a gusto */
}


.card-text{
    color: $rojo;
    font-size: 1rem;
}




